nav a, nav a:hover, nav a:focus{
    color: white;
    text-decoration: none;
}
.container-fluid{
}
.footer {
    color: white;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    line-height: 3em;
}
.content {
    min-height: 80vh;
    height: 100%;
    background: #eee;
    margin-left: 40px;
    margin-right:40px;
}
html, body{
    background-color: #eee;
}
.calc .form-control{
    width: auto;
    display: inline;
}
#page > div.content > div > div.map > div{
    position: relative !important;
}